<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<!-- ruta donde se encuentran los drivers (chromedriver.exe, IEDriverServer.exe, etc) en la pc -->
		<add key="DriversPath" value="\Drivers"/>
		<!-- Valores Posibles: FireFox, IExplorer, Chrome-->
		<add key="WebDriverType" value="Chrome"/>
		<!-- bool para determinar si se ejecuta sin interface gráfica (solo chrome) -->
		<add key="headdless" value="false"/>
		<!-- ruta por defecto donde se guardan los print de pantalla. Puede sobrescribirse por código-->
		<add key="DefaultImagePath" value="C:\test\img\"/>
		<!-- ruta donde se guardan los reportes html-->
		<add key="HtmlReportsPath" value="C:\test\"/>
	</appSettings>
	
	
</configuration>